*{
  font-family: 'Montserrat', sans-serif;
}
.head{
	font-size:1.1em;
	color:#5385c1;
	margin-left:10%;
 }
.big{
	color:#5385c1;
	margin-left:10%;
}
.small{
	color:black;
	size: :10;
	margin-left:10%;
}
input:focus{
	border-bottom-color:#5385c1;
	transition:0.5s;
	padding:20px;
}
input{
	border:none;
	border-bottom:2px solid grey;
	outline:none;
	font-size:1em;
	transition:0.5s;
	}
form{
	margin-left:10%;
}
p{
	color:blue
}
.descr{
	margin-left:10%;
}
.btn {
  background-color: #5385c1;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {opacity: 1}

